# The loopback network interface
auto lo
iface lo inet loopback

# The primary network interface
auto {{ ansible_default_ipv4.interface }}
iface {{ ansible_default_ipv4.interface }} inet manual

auto br0
iface br0 inet dhcp
    bridge_ports {{ ansible_default_ipv4.interface }}
    bridge_stp off
    bridge_fd 1
    bridge_maxwait 1
